body {
    margin: 0;
    padding: 0;
  }
  body * {
    font-family: Arial, Helvetica, sans-serif;
  }
  .wd-buttons, button {
    width: max-content;
    background: #f5f5f5;
    color:black;
    border: 1px solid;
    border-color: #c7cdd1;
    padding: 8px 14px;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none; 
}
.cols-lg-1 {
  width: fit-content;
}
.row-cols-lg-12 {
  width: fit-content;
}
header {
  max-width: 100%;
}

@media(max-width:991px) {
  .text-left {
    text-align: center;
  }
}