.wd-sub-items {
    margin-left: 30px;
}
.wd-module {
    border-radius: 0%;
    border: none;
    margin: 0px;
    padding: 0px;
}
.wd-week {
    background-color: lightgray;
    border: 1px solid gray !important;
    border-left: none !important;

}

.wd-buttons, button {
    width: max-content;
    background: #f5f5f5;
    color:black;
    border: 1px solid #c7cdd1;
    padding: 8px 14px;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none; 
}

.wd-buttons:hover {
    background: #e8e8e8;
    color: black;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
  }

select:option:div {
    color: green;
}
.selected {
    color: white;
    background-color: red;
    border-color: red;
}
div {
    display: block;;
}
.buttons-display {
    display: inline-flex; 
}
div .buttons-display {
    margin-left: auto;
}
a {
    min-width: 241px;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.title {
    color: red
}
li {
    list-style: none;
}
#title {
    border-left:  1px solid #c7cdd1;
}
form {
    text-decoration: none;
}
.form-group {
    border: 1px solid black;
    border-radius: 5%;
}

.table-bordered>tbody>tr:nth-child(odd)>td,
.table-bordered>tbody>tr:nth-child(odd)>th {
	background-color: white;
}
 input {
    border: none;
    width: max-content;
    background-color: transparent;
 }
 input:hover {
    background-color: white;
 }
